@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Quicksand:wght@500&display=swap');

body {

    /* --navy-blue: hsla(239, 97%, 37%, 1);
--dark-cornflower-blue: hsla(214, 99%, 54%, 1);
--star-command-blue: hsla(201, 100%, 71%, 1);
--blue-green: hsla(195, 100%, 78%, 1);
--cerulean-crayola: hsla(190, 100%, 85%, 1);
--sky-blue-crayola: hsla(190, 68%, 89%, 1);
--sky-blue-crayola-2: hsla(189, 40%, 94%, 1);
--blizzard-blue: hsla(190, 29%, 96%, 1);
--powder-blue: hsla(190, 19%, 97%, 1); */
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: rgb(203, 235, 252);
    --color2: rgb(49, 49, 228);
    --color3: rgb(133, 73, 231);
    --color4 :rgb(194, 8, 188);
    --color5: rgb(4, 114, 22); */
    --color1: hsla(190, 68%, 89%, 1);
    --color2: rgb(49, 49, 228);
    --color3: hsla(214, 99%, 54%, 1);
    --color4 :hsla(239, 97%, 37%, 1);
    --color5: rgb(4, 114, 22);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Quicksand', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color4);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Fondamento', cursive;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    font-family: 'Fondamento', cursive;
}
h3 {
    font-family: 'Fondamento', cursive;
    font-size: 1.3rem;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
button {
    background-color: var(--color1);
    border-radius: 15px;
}

li img {
    width: 400px;
}

.info-section {
    background-color: var(--color3);
}